 <video autoplay></video>
    <script src="//www.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
    <script language="javascript" type="text/javascript">
    var mediaConstraints = {
      audio: true,
      video: true  // don't forget video!
    };
    function onVideoFail(e) {
        console.log('webcam fail!', e);
      };

    function hasGetUserMedia() {
      // Note: Opera is unprefixed.
      return !!(navigator.getUserMedia || navigator.webkitGetUserMedia ||
                navigator.mozGetUserMedia || navigator.msGetUserMedia);
    }

    if (hasGetUserMedia()) {
      // Good to go!
    } else {
      alert('getUserMedia() is not supported in your browser');
    }

    window.URL = window.URL || window.webkitURL;
    navigator.getUserMedia  = navigator.getUserMedia || 
                             navigator.webkitGetUserMedia ||
                              navigator.mozGetUserMedia || 
                               navigator.msGetUserMedia;

    var video = document.querySelector('video');
    var streamRecorder;
    var webcamstream;

    if (navigator.getUserMedia) {
      navigator.getUserMedia({audio: true, video: true}, function(stream) {
        //video.src = window.URL.createObjectURL(stream);
        webcamstream = stream;
        onMediaSuccess(stream);
    //  streamrecorder = webcamstream.record();
      }, onVideoFail);
    } else {
        alert ('failed');
    }

    //function startRecording() {
    //    streamRecorder = webcamstream.record();
    //    setTimeout(stopRecording, 10000);
    //}
    function stopRecording() {
        streamRecorder.getRecordedData(postVideoToServer);
    }
    function postVideoToServer(videoblob) {
        console.log(getTime());
        var data = {};
        data.name = new Date().getTime();
        data.video = videoblob;
        data.metadata = 'test metadata';
        data.action = "upload_video";
        jQuery.post("http://localhost:3000/video", videoblob, onUploadSuccess);
    }
    function onUploadSuccess() {
        alert ('video uploaded');
    }

    function onMediaSuccess(stream) {
    var mediaRecorder = new MediaStreamRecorder(stream);
    mediaRecorder.mimeType = 'video/webm';

    // for gif recording
    // mediaRecorder.mimeType = 'image/gif';

    mediaRecorder.videoWidth = 320;
    mediaRecorder.videoHeight = 240;

    mediaRecorder.ondataavailable = function (blob) {

        uploadFiles("http://localhost:3000/video", blob)
        //postVideoToServer(blob);
        // POST/PUT "Blob" using FormData/XHR2
        //window.open(URL.createObjectURL(blob));
    };
    mediaRecorder.start(1000);
}

function uploadFiles(url, file) {
 var fileType = 'video'; // or "audio"
var fileName = new Date().getTime() + '.webm';  // or "wav" or "ogg"

var formData = new FormData();
formData.append(fileType + '-filename', fileName);
formData.append(fileType + '-blob', file);

  //for (var i = 0, file; file = files[i]; ++i) {
    //formData.append(file.name, file);
  //}

  var xhr = new XMLHttpRequest();
  xhr.open('POST', url, true);
  //xhr.onload = function(e) { ... };

  xhr.send(formData);  // multipart/form-data
}

    </script>

