.col-lg-9
  %button#send_ws Włącz nagrywanie
  %button#send_stop_ws Zatrzymaj nagrywanie
  %hr
  %button#play Play
  %button#stop Stop
  %hr
  #webcamcontrols
    %video#homevideo{autobuffer: "", preload: "auto"}
      %source{src: "", type: "video/mp4"}

  #ws_output
.col-lg-3
  .well.sidebar-nav
    %h3 Urządzenie
    .device_status
      .device_on
    %h3 Nagrania
    %ul.nav.nav-list.recordings
