// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.played {
  background-color: rgba(255, 0, 0, 0.21);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.device_on {
  background: image-url('device_status.png') 30px 0;
  width: 30px;
  height: 30px;
}